table{ 
     border: 1px solid #ff0000;
     border-collapse: collapse; 
     background-color: rgb(221, 183, 190); }
th{ 
    text-align: center;

} 

td{ 
    text-align: left; 
} 
th
{ 
    background-color: rgb(213, 217, 236);
    color:black;

} 
caption{
     font-weight:bold;
      color:black;

}

.table1{
    text-align: center;
    color: rgb(17, 17, 16); 
    background-color: rgb(185, 233, 240);
    border: 1px solid #0e9696; 
   }

.table2{
     text-align: center;
     color: rgb(17, 17, 16); 
     background-color: rgb(217, 235, 217);
     border: 1px solid #2c9631; 
    }
